/* font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap'); 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* css custom variables */
:root {
  --primary:#032541;
  --secondary:#21d07a;
  --white:#fff ;
}

.container {
  padding: 0rem 3rem;
  margin: auto;
}
@media (min-width:768px) {
  .container{
    width: 750px;
  }
}
@media (min-width:992px) {
  .container{
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container{
    width: 1170px;
  }
}

*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0 ;
}



.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all .3s ease;
  line-height: 1.1;
}

.btn:hover {
  background-color: var(--secondary);
  opacity: 1;
  cursor: pointer;
}

.btn:disabled{
  pointer-events: none;
  opacity: .5;
}

input:focus{
  outline: none;
}